.SongPlaying{
    display: flex;
    flex-direction: column;
    padding-top: 20px ;
    height: 100%;
}

.songplay_img_container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(transparent, rgb(24, 24, 24));
    background-color:var(  --bg-secondary-color); 
    margin-bottom: 10px;
}
.songplay_img{
   border-radius: 10px;
   width: 75%;
}

.name{
    direction: rtl;
    font-size:small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

