.select{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

select {
    width: 140px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight:bold;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  select:focus {
    outline: none;
    border-color: #555;
  }
  
  option {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: #333;
    background-color: white;
  }