.playlists{
    border: solid 1px rgb(198, 151, 73);
    width:100%;
    height: 100vh;
    padding: 10px;

}

.playlists_list{
padding: 0px 5px 0 5px;
height: 200px;
width: 100%;
display: flex;
align-items: center;
overflow-x: auto;
scrollbar-width: thin;
scrollbar-color: #333 transparent;
margin-bottom: 15px;
}

.songsOfPlaylist{
padding: 5px;
height: 210px;
width: 100%;
display: flex;
align-items: center;
overflow-x:auto;
scrollbar-width: thin;
scrollbar-color: #333 transparent;
}
::-webkit-scrollbar {
    width: 1px;
    height: 5px;
    /* background-color: transparent; */
    
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 10px;
    background-color:white;
  }

.songDiv{
    min-width: 15%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songDiv>div{
    min-width: 100%;
    height: 100%;
    
}

/* .playlists_list::-webkit-scrollbar {
    height:  1px;
} */






