.playlists{
    width:75%;
    height: 100vh;
    padding: 10px;

}

.playlists_list{
padding: 0px 5px 0 5px;
height: 200px;
width: 100%;
display: flex;
align-items: center;
overflow-x: auto;
scrollbar-width: thin;
scrollbar-color: #333 transparent;
margin-bottom: 15px;
}



/* .playlists_list::-webkit-scrollbar {
    height:  1px;
} */






