.main {

    width: 95%;
    height: 100vh;
    background: linear-gradient(transparent, rgba(1, 1, 1, 1));
    background-color: var(--bg-secondary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    border-top-left-radius: 35px;
    border: solid 1px rgb(198, 151, 73);
    padding-right: 10px ;


}


.songs_container {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow:auto;
}

.songs_container::-webkit-scrollbar {
    width: 0;
}

.song_playing_container {
    background: linear-gradient(transparent, rgb(24, 24, 24));
    background-color:var( --bg-color);
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    top: 10%;
    border-radius: 10px;
    padding: 10px;




    
}