#aa{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
   
}
.song{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 12px;
    width:20%;
    height: 220px;
    border-radius: 5px;
    direction: ltr;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 5px 0px #000000;

}
.song:hover{
  transform: scale(1.1,1.1);
  transition: 0.3s;
}

.addToPlaylist{
    width:15%;
    /* visibility: hidden; */
    position:absolute;
    bottom: 1px;
    left:1px
}


.songDetails{
display: flex;
font-size: 12px;
color:white;
margin-top: 6px;


   
}
.ss{
    position: absolute;
}

.time{
    background-color: black;
    position: absolute;
    bottom: 1px;
    color:white;
    /* width: 20%; */
    font-size: smaller;
    border-radius: 5px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px
}

.img_channel{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left : 2px;

}

.ather_details{
display: flex;
font-size: 11px;
color: var(--text-color);
margin-top: 6px;
}

