:root {

    --bg-color: rgb(10, 38, 71);
    --bg-secondary-color:rgb(20, 66, 114);
    --bg-therthy-color:rgb(32, 82, 149);

    --text-color: #fff;
    --text-secondary-color: #B6B6B6;
    --primary-color: #56C493;
    --input-color: #383838;
    --font-size-label: 9.5px;
    --border-radius: 4px;
 

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #F5F5F5;
} 

body::-webkit-scrollbar-thumb {
background-color: #000000;
}

body::-webkit-scrollbar-track {
background-color: #F5F5F5;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
