.songsOfPlaylist{
    padding: 10px;
    height: 210px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x:auto;
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
    }
    ::-webkit-scrollbar {
        width: 1px;
        height: 5px;
        /* background-color: transparent; */
        
      }
      
      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        height: 10px;
        background-color:white;
      }
    
    .songDiv{
        min-width: 19%;
        height: 100%;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .songDiv>div{
        min-width: 100%;
        height: 100%;
        
    }